.team-main-container{
    margin-top: 95px;
}
.team-main-text{
    font-size: 45px;
    position: relative;
    color: #0b0757;
}
.team-main-text::before{
    content: '';
    margin-top: 10px;
    width: 200px;
    height: 5px;
    position: absolute;
    bottom: -20px;
    color: transparent;
    background: transparent linear-gradient(99deg, #5338FF 0%,#FFC465 100%) 0% 0% no-repeat padding-box;
    border-radius: 5px;
}
@media (max-width:450px) {
    .team-main-text{
        font-size: 27px;
        position: relative;
        color: #0b0757;
        text-align: center;
    }.team-main-text::before{
        width: 100px;
    }
    .team-main-container{
        margin-top: 70px;
    }
}