 
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  text-align: center;
}

.loader {
  margin: auto;
  position: relative;
  width: 100px;
  
}

.block {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #3498db;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-align: center;
}

.E {
  left: -40px;
  animation:  jumpE 1s infinite alternate;
  animation-delay: 0.5s;
}

.M {
  left: 0px; 
  animation:jumpM 1s infinite alternate;
  animation-delay: 1s;
}

.B {
  left: 40px;
  animation: jumpB 1s infinite alternate;
  animation-delay: 2s;
}

.U {
  left: 80px;
  animation: jumpU 1s infinite alternate;
  animation-delay: 2.5s;
}

.D {
  left: 120px;
  animation: jumpD 1s infinite alternate;
  animation-delay: 3s;
}


@keyframes jumpE {
  0% { top: 0; }
  50% { top: -20px; }
  100% { top: 0; }
}

@keyframes jumpM {
  0% { top: 0; }
  50% { top: -20px; }
  100% { top: 0; }
}

@keyframes jumpB {
  0% { top: 0; }
  50% { top: -20px; }
  100% { top: 0; }
}

@keyframes jumpU {
  0% { top: 0; }
  50% { top: -20px; }
  100% { top: 0; }
}

@keyframes jumpD {
  0% { top: 0; }
  50% { top: -20px; }
  100% { top: 0; }
}